<div>
  {{#each this}}
  <div class="card m-4">
    <h3 class="card-header"></h3>
    <section class="card-body">
      <div class="card-text">
        {{comment_text}}
      </div>
      <div class="card-text text-end">
        <p><em>- {{user.username}}, {{format_date createdAt}}</em></p>
      </div>

     {{!-- delete comment --}}
      {{!-- {{#if user.username}}
      <div class="d-grid gap-2 d-md-block m-3">
        <button type="button" class="delete-post-btn btn btn-danger">Delete Comment</button>
      </div>
      {{/if}} --}}

    </section>
  </div>
  {{/each}}
</div>