<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts}}
    <li>
      <a href="/dashboard/edit/{{id}}">{{title}}</a>
    </li>
    {{/each}}
  </ol>
</section>

<script src="/javascript/create-post.js"></script>