<div>
    <h1>{{post.title}}</h1>
</div>

{{#if loggedIn}}
<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form">

        <label class="form-label">Comment</label>
        <input name="comment-body" class="form-control" rows="3" />

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{{/if}}

{{> comments post.Comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}