<div class="card m-3">
    <h3 class="card-header">{{post.title}}</h3>
    <section class="card-body">{{post.post_content}}</section>
    <div class="card-text text-end p-2">
        {{!-- need to fix --}}
        <p><em>- {{user.username}}, {{format_date createdAt}}</em></p> 
    </div>
</div>

{{#if loggedIn}}
<div class="card m-2">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form">

        <label class="form-label">Add a comment:</label>
        <input name="comment-body" class="form-control" rows="3" />

        <button type="submit" class="btn btn-primary m-2">Submit</button>
    </form>
</div>
{{> comments post.Comments}}
{{/if}}



{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}